<div class="col-12">
  <div class="row col-lg-10 mx-auto container-devise">
    <div class="col-lg-6 banner-signup-img banner-devise-img">
      <h4 class="text-white banner-text">Créez un compte, découvrez des lieux savoureux et enregistrez vos restaurants coup de coeur !</h4>
    </div>
    <div class="col-lg-6 bg-light banner-form">
      <h2>Créer un compte</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field-form">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field-form">
          <%= f.label 'Mot de passe' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field-form">
          <%= f.label 'Confirmation mot de passe' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Créer", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>








