<% restaurants.each do |restaurant| %>
  <div class="col-sm-3">
    <div class="card mb-3" style="width: 400px;">
      <img class="card-img-top list-card-img" src="<%= restaurant.image %>" alt="">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to restaurant.name, restaurant %>
          <% if user_signed_in? %>
            <% if current_user.favorite?(restaurant) %>
              <span class="text-danger wishlist-icon">♥</span>
            <% end %>
          <% end %>
        </h5>
        <p class="card-text">
          <%= "#{restaurant.address} #{restaurant.city}" %>
        </p>
        <span class="badge bg-info"><%= restaurant.category.name %></span>
        <span class="badge bg-primary"><%= restaurant.cuisine.name.capitalize %></span>
      </div>
    </div>
  </div>
<% end %>