<div class="col-lg-7 mx-auto">
  <small class="text-muted border-bottom pb-1">
    <%= link_to 'Restaurants', restaurants_path, class: 'text-secondary' %> > <%= link_to @restaurant.name, restaurant_path(@restaurant), class: 'text-dark' %>
  </small>
  <h1 class="my-3"><%= @restaurant.name %></h1>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= @restaurant.image %>" class="img-fluid rounded-start show-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2">À propos</h5>
          <p class="card-text"><%= @restaurant.description %></p>
          <p class="card-text">
            <i class="fa fa-arrow"></i>
            <%= "Adresse : #{@restaurant.address} #{@restaurant.city}" %><br>
            <small class="text-muted">Ajouté le <%= @restaurant.created_at.strftime('%d/%m/%Y') %></small>
          </p>
          <span class="badge bg-info"><%= @restaurant.category.name %></span>
          <span class="badge bg-primary"><%= @restaurant.cuisine.name.capitalize %></span>
        </div>
      </div>
    </div>
  </div>
</div>
